/*body {*/
/*  margin: 0;*/
/*  display: flex;*/
/*  !*place-items: center;*!*/
/*  min-width: 320px;*/
/*  min-height: 100vh;*/
/*}*/

body {
  font-family: Helvetica, Arial, sans-serif;
  background-image: url("assets/backgrounds/sun_and_clouds_3.jpg");
  background-attachment: fixed;
  background-size: cover;
}



#main-card {
  max-width: 780px;
  margin: auto;
  /*margin-left: 20rem;*/
  /*margin-right: 20rem;*/
  margin-top: 4rem;
  background-color: rgba(255, 255, 255, .5);
  padding: 4rem;
  padding-top: 2.5rem;
  border-radius: 30px;
  padding-bottom: 20rem;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
  border: 1px solid rgba(0, 0, 0, .1);
  /*text-align: center;*/
}

#main-header {
  /*font-family: Helvetica, Arial, sans-serif;*/
  font-size: 2.2rem;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
  color: rgba(0, 30, 100, .8);
}

.large-header {
  color: rgba(0, 30, 100, .8);
  font-size: 1.6rem;
}

#location-search {
  font-size: .95rem;
  margin: .7rem;
  margin-top: .4rem;
  margin-bottom: 1.5rem;
  padding-left: 2.5rem;
  /*padding-top: .3rem;*/
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, .4);
  background-color: rgba(255, 255, 255, .8);
  background-image: url("assets/icons/search.png");
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: 10px 8px;
}

input:focus {
  outline: rgba(0, 0, 0, .4) solid 1px;
}

#main-header-grid {
  display: grid;
  grid-template-columns: auto 250px;
}

#data-1-grid {
  display: grid;
  grid-template-columns: auto 143px;
}

#current-temperature {
  text-align: end;
  padding-right: 1rem;
  font-weight: 500;
  margin: .8rem;
  font-size: 1.9rem;
  color: rgba(0, 30, 100, 1);
}

#current-weather-icon {
  width: 50px;
  height: 50px;
  display: block;
  margin-top: .25rem;
}

#current-weather {
  display: flex;
  /*position: absolute;*/
  /*right: 4rem;*/

}

.scrollable-container {
  overflow-x: auto;
  /*width: 100%;*/
}

#data-24h-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  margin-top: 1.5rem;
  margin-right: .9rem;
}

.weather-24h {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*margin: .1rem;*/
  /*justify-content: center;*/
}

.weather-icon-24h {
  width: 40px;
  height: 40px;
  /*display: block;*/
  /*margin: 0 auto;*/
}

.weather-time-24h {
  color: rgba(0, 30, 100, .6);
  margin-bottom: .5rem;
}

.weather-temperature-24h {
  margin-top: .4rem;
  color: rgba(0, 30, 100, 1);
}

.rain-chance-24h {
  display: flex;
  margin-top: .4rem;
}

.rain-chance-icon-24h {
  width: 14px;
  height: 14px;
}

.rain-chance-text-24h {
  font-size: .8rem;
  color: rgba(0, 30, 100, .9);
}

#data-week-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  margin-top: 1.5rem;
  margin-right: .9rem;
}

.weather-week {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 30, 100, .3);
  margin: .5rem;
  padding: .5rem;
  border-radius: 15%;
}

.weather-day-week {
  color: rgba(0, 30, 100, .8);
  margin-bottom: .5rem;
}

.weather-icon-week {
  width: 40px;
  height: 40px;
}

.temperature-week {
  display: flex;
  margin-top: .6rem;
  font-size: .9rem;
}

.max-temp-week {
  color: rgba(0, 30, 100, 1);
  margin-right: .4rem;
}

.min-temp-week {
  color: rgba(0, 30, 100, .6);

}


@media only screen and (max-width: 650px) {
  body {
    /*background-size: */
  }
  #main-header-grid {
    display: initial;
    grid-template-columns: initial;
  }
  #data-1-grid {
    margin-top: 1.5rem;
  }
  #location-search {
    margin: 0;
    padding: 0;
    padding-left: 2.3rem;
    /*background-position-y: .25rem;*/
    min-height: 2.5rem;
    min-width: 13rem;
  }
  #data-24h-grid {
    width: 600px;
  }
}