/*body {*/
/*  margin: 0;*/
/*  display: flex;*/
/*  !*place-items: center;*!*/
/*  min-width: 320px;*/
/*  min-height: 100vh;*/
/*}*/

body {
  font-family: Helvetica, Arial, sans-serif;
  background-image: url("assets/backgrounds/sun_and_clouds_3.jpg");
  background-attachment: fixed;
  background-size: cover;
}



#main-card {
  max-width: 780px;
  margin: auto;
  /*margin-left: 20rem;*/
  /*margin-right: 20rem;*/
  margin-top: 4rem;
  background-color: rgba(255, 255, 255, .5);
  padding: 4rem;
  padding-top: 2.5rem;
  border-radius: 30px;
  padding-bottom: 20rem;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
  border: 1px solid rgba(0, 0, 0, .1);
  /*text-align: center;*/
}

#main-header {
  /*font-family: Helvetica, Arial, sans-serif;*/
  font-size: 2.2rem;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
  color: rgba(0, 30, 100, .8);
}

.large-header {
  color: rgba(0, 30, 100, .8);
  font-size: 1.6rem;
}

#search-and-suggestions {
  position: relative;
  font-size: .95rem;

}

#suggestions-dropdown {
  /*display: none;*/
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 14.71rem;
  top: 1.2rem;
  left: .01rem;
  z-index: 1;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

.search-suggestion {
  padding-top: .4rem;
  padding-bottom: .4rem;
  padding-left: 1rem;
  padding-right: .5rem;
}

.search-suggestion:hover {
  background-color: rgba(240, 240, 240, 1);
  cursor: default;
}

.search-suggestion:hover:last-child {
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

.search-suggestion:first-child {
  padding-top: 1.9rem;
  z-index: 1;
}

.search-suggestion:last-child {
  padding-bottom: .7rem;
}

.search-suggestion.selected {
  background-color: dodgerblue;
}

.search-suggestion.selected:last-child {
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}

.fi {
  border: 1px solid rgba(0, 0, 0, .6);
  margin-right: .15rem;
}

#location-search {
  position: relative;
  font-size: .95rem;
  width: 12rem;
  /*margin: .7rem;*/
  /*margin-top: .4rem;*/
  /*margin-bottom: 1.5rem;*/
  padding-left: 2.5rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  border-radius: 23px;
  border: 1px solid rgba(0, 0, 0, .4);
  background-color: rgba(255, 255, 255, .8);
  background-image: url("assets/icons/search.png");
  background-size: 1.5rem;
  background-repeat: no-repeat;
  background-position: 10px 8px;
  z-index: 2000;
}

#location-search:focus.writing {
  outline: white;
  border-color: white;
  background-color: white;
}

#location-search:focus.has-suggestions {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input:focus {
  outline: rgba(0, 0, 0, .4) solid 1px;
}

#location-search.blurring.writing {
  outline: white;
  border-color: white;
  background-color: white;
}

#location-search.blurring.has-suggestions {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input.blurring {
  outline: rgba(0, 0, 0, .4) solid 1px;
}



#main-header-grid {
  display: grid;
  grid-template-columns: auto 250px;
}

#data-1-grid {
  display: grid;
  grid-template-columns: auto 143px;
}

#current-temperature {
  text-align: end;
  padding-right: 1rem;
  font-weight: 500;
  margin: .8rem;
  font-size: 1.9rem;
  color: rgba(0, 30, 100, 1);
}

#current-weather-icon {
  width: 50px;
  height: 50px;
  display: block;
  margin-top: .25rem;
}

#current-weather {
  display: flex;
  /*justify-self: end;*/
  /*float: right;*/
  /*position: absolute;*/
  /*right: 4rem;*/

}

#scrollable-container-24h {
  overflow-x: auto;

  /*width: 100%;*/
  --mask-width: 20px;
  /*padding-left: var(--mask-width);*/
  /*padding-right: var(--mask-width);*/
  --mask-image-content: linear-gradient(
    to right,
    transparent,
    black var(--mask-width),
    black calc(100% - var(--mask-width)),
    transparent
  );
  --mask-size-content: 100% 100%;
  mask-image: var(--mask-image-content);
  mask-size: var(--mask-size-content);
  mask-position: center;
  mask-repeat: no-repeat;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#scrollable-container-24h::-webkit-scrollbar {
  display: none;
}

#scrollable-container-week {
  overflow-x: auto;
  /*padding-right: 1rem;*/
  /*width: 100%;*/
  --mask-width: 20px;
  /*padding-left: var(--mask-width);*/
  /*padding-right: var(--mask-width);*/
  --mask-image-content: linear-gradient(
    to right,
    transparent,
    black var(--mask-width),
    black calc(100% - var(--mask-width)),
    transparent
  );
  --mask-size-content: 100% 100%;
  mask-image: var(--mask-image-content);
  mask-size: var(--mask-size-content);
  mask-position: center;
  mask-repeat: no-repeat;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#scrollable-container-week::-webkit-scrollbar {
  display: none;
}



#data-24h-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  margin-top: 1.5rem;
  margin-right: .9rem;
}

.weather-24h {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*margin: .1rem;*/
  /*justify-content: center;*/
}

.weather-icon-24h {
  width: 40px;
  height: 40px;
  /*display: block;*/
  /*margin: 0 auto;*/
}

.weather-time-24h {
  color: rgba(0, 30, 100, .6);
  margin-bottom: .5rem;
}

.weather-temperature-24h {
  margin-top: .4rem;
  color: rgba(0, 30, 100, 1);
}

.rain-chance-24h {
  display: flex;
  margin-top: .4rem;
}

.rain-chance-icon-24h {
  width: 14px;
  height: 14px;
}

.rain-chance-text-24h {
  font-size: .8rem;
  color: rgba(0, 30, 100, .9);
}

#data-week-grid {
  display: grid;
  grid-template-columns: 10px auto auto auto auto auto auto auto 10px;
  grid-template-rows: 1fr;
  margin-top: 1.5rem;
  margin-right: .9rem;
}

.weather-week {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 30, 100, .3);
  margin: .5rem;
  padding: .5rem;
  border-radius: 15%;
}

.weather-day-week {
  color: rgba(0, 30, 100, .8);
  margin-bottom: .5rem;
}

.weather-icon-week {
  width: 40px;
  height: 40px;
}

.temperature-week {
  display: flex;
  margin-top: .6rem;
  font-size: .9rem;
}

.max-temp-week {
  color: rgba(0, 30, 100, 1);
  margin-right: .4rem;
}

.min-temp-week {
  color: rgba(0, 30, 100, .6);

}

#extra-1 {
  margin-top: 4rem;

  border: 2px solid rgba(0, 30, 100, .3);
  border-radius: 25px;
  border-spacing: 0;
  /*border-collapse: collapse;*/
  /*display: flex;*/
  justify-self: center;
  margin-right: 1rem;
  table-layout: fixed;
  width: 40rem;
  background-color: rgba(248, 248, 248, .5);
  font-size: .95rem;
  color: rgba(0, 30, 100, 1);

}

#extra-1 td {
  /*border-left: 1px solid black;*/
  border-right: 2px solid rgba(0, 30, 100, .3);
  padding: 1rem;
  padding-top: 3rem;
  text-align: center;
}

#extra-1 td:first-child {
  background-image: url('../public/sun.png');
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 10px;
}

#extra-1 td:nth-child(2) {
  background-image: url('../public/drop.png');
  background-size: 1.6rem;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 15px;
}

#extra-1 td:nth-child(3) {
  background-image: url('../public/windy (2).png');
  background-size: 1.6rem;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 15px;
}

#extra-1 td:last-child {
  background-image: url('../public/sunrise.png'), url('../public/sunset.png');
  background-size: 2.2rem, 2.2rem;
  background-position: 16px 8px, 16px 52px;
  background-repeat: no-repeat, no-repeat;
  border-right: none;
  padding: 0;
  font-size: 1.1rem;
}

#sunrise {
  text-align: center;
  vertical-align: center;
  justify-self: center;
  margin-bottom: 1.4rem;
}

#sunset {
  text-align: center;
  vertical-align: center;
  justify-self: center;
}

.uvi-dot {
  background-color: yellow;
  height: .4rem;
  width: .7rem;
  display: inline-block;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, .8);
}

@media only screen and (max-width: 650px) {
  body {
    /*background-size: */
  }
  #main-header-grid {
    display: initial;
    grid-template-columns: initial;
  }
  #data-1-grid {
    margin-top: 1.5rem;
  }
  #location-search {
    margin: 0;
    padding: 0;
    padding-left: 2.3rem;
    /*background-position-y: .25rem;*/
    min-height: 2.5rem;
    min-width: 13rem;
  }
  #suggestions-dropdown {
    width: 15.4rem;
  }
  #data-24h-grid {
    width: 600px;

  }
  #data-week-grid {
    width: 600px;
    /*padding-right: 2rem;*/
  }
  #border-container-24h {
    /*outline: 3px solid black;*/
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 1.5rem;
    margin-top: 1rem;
    /*padding-left: 1px;*/
    /*padding-right: 1px;*/
    /*border-radius: 30px;*/
    /*padding: 5px;*/
    /*padding: 5px;*/
    /*margin-top: 50px;*/
    /*display: inline-block;*/
    /*overflow-x: hidden;*/
  }
  #current-temperature {
    padding-right: 0;
    margin: 0;
    margin-bottom: .8rem;
    margin-top: .8rem;
    margin-left: .8rem;
  }
  #current-weather {
    justify-self: end;
  }
}